#about-me {
    padding-top: 8vh;
    background-color: rgb(220, 205, 181);
    padding-bottom: 20px;
}

.about-pic-container {
    background-color: rgb(223, 172, 82);
    max-width: 100vw;
    width: 450px;
    height: 450px;
    margin: 25px auto;
    border-radius: 25%;
}

.about-pic {
    border-radius: 35%;
    margin-top: 20px;
}

.about-me {
    font-size: 45px;
}

.divider {
    background-color: black;
    width: 75vw;
    height: 2px;
    margin: 0 auto;
}

.about-blurb h3 {
    font-size: 1.8rem;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 75vw;
    text-align: center;
}