/* App Styles */
.app {
    font-family: Helvetica, sans-serif;
}


/* Nav Styles */
.nav {
    position: sticky;
    height: 15vh;
    background-color: rgb(226, 222, 205);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    padding-bottom: 50px;
}

.nav-name {
    font-weight: 500;
    font-size: 3rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.nav-list li {
    font-size: 30px;
}

/* About Styles */
.about {
    background-color: rgb(226, 222, 205);
    height: 80vh;
    display: flex;
}

.about-pic-container {
    background-color: rgb(204, 155, 60);
    height: 400px;
    width: 400px;
    border-radius: 20%;
    margin-left: 10vw;
}

.about-pic {
    border-radius: 20%;
    position: relative;
    float: left;
}

.about-blurb {
    margin: 150px auto;
    width: 30vw;
    font-size: x-large;
    color: rgb(204, 155, 60);
}

/* Skills Styles */
.skills {
    background-color: rgb(115, 120, 55);
    height: 100vh;
}


/* Projects Styles */
.projects {
    background-color: rgb(12, 31, 58);
    height: 100vh;
}


/* Contact Styles */
.contact {
    background-color: rgb(153, 57, 39);
    height: 100vh;
}