/* App Styles */
.app {
    font-family: Helvetica, sans-serif;
}


/* Nav Styles */
.nav {
    position: sticky;
    height: 15vh;
    background-color: rgb(226, 222, 205);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    padding-bottom: 50px;
}

.nav-name {
    font-weight: 500;
    font-size: 3rem;
    margin-left: 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.nav-list li {
    font-size: 30px;
    transition-duration: .2s;
    cursor: pointer;
}

.nav-list li:hover {
    transform: scale(1.2);
}

/* About Styles */
.about {
    background-color: rgb(226, 222, 205);
    height: 90vh;
    display: flex;
    margin-bottom: 0;
}

.about-pic-container {
    background-color: rgb(204, 155, 60);
    height: 470px;
    width: 450px;
    border-radius: 20%;
    margin-left: 10vw;
}

.about-pic {
    border-radius: 20%;
    position: relative;
    float: left;
}

.about-me {
    font-size: 70px;
    color: rgb(204, 155, 60);
}

.divider {
    background-color: black;
    height: 2px;
    width: 40vw;
}

.about-blurb {
    margin: 50px auto;
    width: 50vw;
    font-size: x-large;
    /* color: rgb(204, 155, 60); */
    color: black;
    text-align:left;
    padding-left: 40px;
}

/* Skills Styles */
.skills {
    background-color: rgb(64, 123, 59);
    height: 100vh;
}

.my-skills {
    /* color: rgb(115, 120, 55); */
    color: rgb(64, 123, 59);
    background-color: rgb(226, 222, 205);
    margin: 0 auto;
    font-size: 75px;
    padding-bottom: 10px;
    height: 10vh;
    border-radius: 0 0 40px 40px;
}

.skills-blurb {
    font-size: 30px;
    color: rgb(226, 222, 205);
    width: 70vw;
    margin: 0 auto;
    padding-top: 20px;
}

.frontend-blurb {
    margin-top: 40px;
}

.backend-blurb {
    margin-top: 40px;
}

.skills-list-container {
    background-color: rgb(226, 222, 205);
    border-radius: 20px;
    width: 75vw;
    height: 20vh;
    margin: 5vh auto;
    padding: 20px;
}

.skills-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

.skills-list li {
    background-color: white;
    border-radius: 15px;
    transition-duration: .3s;
    margin: 25px auto;
    padding: 15px;
}

.skills-list li:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 18px 0px rgba(255,255,255,1);
}


/* Projects Styles */
.projects {
    background-color: rgb(226, 222, 205);
    height: 200vh;
}

.my-projects {
    color: rgb(226, 222, 205);
    background-color: rgb(64, 123, 59);
    margin: 0 auto;
    font-size: 75px;
    padding-bottom: 10px;
    height: 10vh;
    border-radius: 0 0 40px 40px;
}

.projects-columns {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.projects-columns img {
    border-radius: 15px;
}

.projects-columns h3{
    font-size: 3rem;
    margin: 0 0 20px 0;
}

.project-1 {
    background-color: rgb(64, 123, 59);
    color: rgb(226, 222, 205);
    display: flex;
    width: 80%;
    margin: 30px;
    justify-self: flex-start;
    border: 2px solid rgb(226, 222, 205);
    border-radius: 15px;
    padding: 15px;
    transition: .3s;
}

.project-1:hover {
    transform: scale(1.1) translateX(40px);
}

.p1info {
    margin-left: 20px;
    font-size: 35px;
}

.project-2 {
    background-color: rgb(64, 123, 59);
    color: rgb(226, 222, 205);
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 30px;
    margin-left: 15vw;
    justify-self: flex-start;
    border: 2px solid rgb(226, 222, 205);
    border-radius: 15px;
    padding: 15px;
    transition: .3s;
}

.project-2:hover {
    transform: scale(1.1) translateX(-40px);
}

.p2info {
    margin-right: 20px;
    font-size: 35px;
}

.project-3 {
    background-color: rgb(64, 123, 59);
    color: rgb(226, 222, 205);
    display: flex;
    width: 80%;
    margin: 30px;
    justify-self: flex-start;
    border: 2px solid rgb(226, 222, 205);
    border-radius: 15px;
    padding: 15px;
    transition: .3s;
}

.project-3:hover {
    transform: scale(1.1) translateX(40px);
}

.p3info {
    margin-left: 20px;
    font-size: 35px;
}

.project-4 {
    background-color: rgb(64, 123, 59);
    color: rgb(226, 222, 205);
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 30px;
    margin-left: 15vw;
    justify-self: flex-start;
    border: 2px solid rgb(226, 222, 205);
    border-radius: 15px;
    padding: 15px;
    transition: .3s;
}

.project-4:hover {
    transform: scale(1.1) translateX(-40px);
}

.p4info {
    margin-right: 20px;
    font-size: 35px;
}

/* Contact Styles */
.contact {
    background-color: rgb(204, 155, 60);
    height: 100vh;
}

.my-contact-info {
    color: rgb(204, 155, 60);
    background-color: rgb(226, 222, 205);
    margin: 0 auto;
    font-size: 75px;
    padding-bottom: 10px;
    height: 10vh;
    border-radius: 0 0 40px 40px;
}